<div class="wrapper-left">
	<div class="wrapper-left-items">
		<div class="wrapper-left-title">Discover Popilush Membership</div>
		<div class="wrapper-left-text">One account. Enjoy effortless benefits.</div>

		<div class="wrapper-left-title" style="margin-top:50px;">Membership benefits include</div>
		<div class="wrapper-left-text">
			{%- render 'icon-user-vip4' -%}
			<span>60-Days Hassle-Free Exchange</span>
		</div>
		<div class="wrapper-left-text">
			{%- render 'icon-user-vip5' -%}
			<span>Free Shipping On Orders Over $80</span>
		</div>
		<div class="wrapper-left-text">
			{%- render 'icon-user-vip1' -%}
			<span>Early Access to Product Drops</span>
		</div>
		<div class="wrapper-left-text">
			{%- render 'icon-user-vip2' -%}
			<span>Earn Points & Exclusive Rewards </span>
		</div>
		<div class="wrapper-left-text">
			{%- render 'icon-user-vip3' -%}
			<span>Membership Events</span>
		</div>
		{% comment %} <div class="wrapper-left-text">
			{%- render 'icon-user-vip6' -%}
			<span>Free Hemming</span>
		</div> {% endcomment %}
		<div class="learn-more">
			<a href="/pages/reward" alt="">Learn More</a>
		</div>
	</div>
</div>