{%- assign paragraph_wrap = paragraph_wrap | default: false -%}
{%- if title != blank -%}
  {%- capture stripped_title -%}
    {{- title
      | replace: '<p>', ''
      | replace: '</p>', ''
      | replace: '<h1>', ''
      | replace: '</h1>', ''
      | replace: '<h2>', ''
      | replace: '</h2>', ''
      | replace: '<h3>', ''
      | replace: '</h3>', ''
      | replace: '<h4>', ''
      | replace: '</h4>', ''
      | replace: '<h5>', ''
      | replace: '</h5>', ''
      | replace: '<h6>', ''
      | replace: '</h6>', ''
      | replace: '<ul>', ''
      | replace: '</ul>', ''
      | replace: '<ol>', ''
      | replace: '</ol>', ''
      | replace: '<li>', ''
      | replace: '</li>', ''
    -}}
  {%- endcapture -%}
  {%- if paragraph_wrap -%}
    {{- stripped_title | prepend: '<p>' | append: '</p>' -}}
  {%- else -%}
    {{- stripped_title -}}
  {%- endif -%}
{%- endif -%}