<label
  class="opt-labelStyle hxStyle-{{ index }}"
  for="{{ input_id }}"
  data-swatch="{{ value | escape_once }}"
  data-tooltip="{{ value | escape_once }}"
>
  {% if product.id == 7221469937840 %}
    {% if value == 'Slip Mini Dress' %}
      <div class="opt---slip-mini-dress block-style-item-cont">
        <img src="//cdn.shopify.com/s/files/1/0607/2398/6608/files/1663297000261.png?v=1665544552" alt="">
      </div>
    {% endif %}
    {% if value == 'Slip Maxi Dress' %}
      <div class="opt---slip-maxi-dress block-style-item-cont">
        <img src="//cdn.shopify.com/s/files/1/0607/2398/6608/files/1663320688125.png?v=1665544550" alt="">
      </div>
    {% endif %}
    {% if value == 'Long Sleeve Maxi Dress' %}
      <div class="opt---long-sleeve-maxi-dress block-style-item-cont">
        <img src="//cdn.shopify.com/s/files/1/0607/2398/6608/files/Long_Sleeve_Dress.jpg?v=1666160070" alt="">
      </div>
    {% endif %}
  {% endif %}

  {% if product.id == 7053470597296 %}
    {% if value == 'Mid Back Mid Tight' %}
      <div class="opt---mid-back-mid-tight block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT200277-BK1-40.jpg?v=1695631458" alt="">
      </div>
    {% endif %}
    {% if value == 'Low Back Thong' %}
      <div class="opt---low-back-thong block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT220146-BK1-19.jpg?v=1695631459" alt="">
      </div>
    {% endif %}
    {% if value == 'Low Back Mid Tight' %}
      <div class="opt---low-back-mid-tight block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT220145-BK1-19.jpg?v=1695631459" alt="">
      </div>
    {% endif %}
    {% if value == 'Mid Back & High Cut' %}
      <div class="opt---mid-back-high-cut block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT210349-BK1-31.jpg?v=1695631459" alt="">
      </div>
    {% endif %}
  {% endif %}

  {% if product.id == 7241470312624 %}
    {% if value == 'Full Lace' %}
      <div class="opt---full-lace block-style-item-cont">
        <img src="//cdn.shopifycdn.net/s/files/1/0607/2398/6608/files/120.jpg?v=1668744013" alt="">
      </div>
    {% endif %}
    {% if value == 'Lace Deep-V(Run Small)' %}
      <div class="opt---lace-deep-v-run-small block-style-item-cont">
        <img src="//cdn.shopifycdn.net/s/files/1/0607/2398/6608/files/081.jpg?v=1668744014" alt="">
      </div>
    {% endif %}
    {% if value == 'Midi Skirt' %}
      <div class="opt---midi-skirt block-style-item-cont">
        <img src="//cdn.shopify.com/s/files/1/0607/2398/6608/files/220139_skirt.jpg?v=1672128027" alt="">
      </div>
    {% endif %}
    {% if value == 'Lace Deep-V Short Bodysuit' %}
      <div class="opt---lace-deep-v-short-bodysuit block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT230359.jpg?v=1701066780" alt="">
      </div>
    {% endif %}
    {% if value == 'Mini Skirt' %}
      <div class="opt---mini-skirt block-style-item-cont">
        <img src="//cdn.shopifycdn.net/s/files/1/0607/2398/6608/files/MT230032-BK1p.jpg?v=1681799331" alt="">
      </div>
    {% endif %}
    {% if value == 'Leggings' %}
      <div class="opt---leggings block-style-item-cont">
        <img src="https://cdn.shopifycdn.net/s/files/1/0607/2398/6608/files/MT230347.jpg?v=1703066739" alt="">
      </div>
    {% endif %}
  {% endif %}

  {% if product.id == 7234460844208 %}
    {% if value == 'Long Sleeve' %}
      <div class="opt---long-sleeve block-style-item-cont">
        <img src="//cdn.shopify.com/s/files/1/0607/2398/6608/files/MT220106-BK.jpg?v=1667895464" alt="">
      </div>
    {% endif %}
    {% if value == 'Short Sleeve' %}
      <div class="opt---short-sleeve block-style-item-cont">
        <img src="//cdn.shopify.com/s/files/1/0607/2398/6608/files/1500-2000.jpg?v=1667897560" alt="">
      </div>
    {% endif %}
    {% if value == 'Tank Top' %}
      <div class="opt---tank-top block-style-item-cont">
        <img src="//cdn.shopify.com/s/files/1/0607/2398/6608/files/6N5A6494.jpg?v=1667895434" alt="">
      </div>
    {% endif %}
  {% endif %}

  {% if product.id == 7289669583024 %}
    {% if value == 'Long Sleeve Thong' %}
      <div class="opt---long-sleeve-thong block-style-item-cont">
        <img src="//cdn.shopifycdn.net/s/files/1/0607/2398/6608/files/220144.jpg?v=1676371671" alt="">
      </div>
    {% endif %}
    {% if value == 'Tank Top Thong' %}
      <div class="opt---tank-top-thong block-style-item-cont">
        <img src="//cdn.shopifycdn.net/s/files/1/0607/2398/6608/files/220163.jpg?v=1676371671" alt="">
      </div>
    {% endif %}
    {% if value == 'Tank Top Short' %}
      <div class="opt---tank-top-short block-style-item-cont">
        <img src="//cdn.shopifycdn.net/s/files/1/0607/2398/6608/files/22016301.jpg?v=1676371671" alt="">
      </div>
    {% endif %}
  {% endif %}

  {% if product.id == 7296326369456 %}
    {% if value == 'Long Sleeve Maxi Dress' %}
      <div class="opt---long-sleeve-maxi-dress block-style-item-cont">
        <img src="//cdn.shopify.com/s/files/1/0607/2398/6608/files/Long_Sleeve_Dress.jpg?v=1666160070" alt="">
      </div>
    {% endif %}
    {% if value == 'Slip Maxi Dress' %}
      <div class="opt---slip-maxi-dress block-style-item-cont">
        <img src="//cdn.shopify.com/s/files/1/0607/2398/6608/files/1663320688125.png?v=1665544550" alt="">
      </div>
    {% endif %}
    {% if value == 'Long Sleeve Midi Dress' %}
      <div class="opt---long-sleeve-midi-dress block-style-item-cont">
        <img src="//cdn.shopify.com/s/files/1/0607/2398/6608/files/SY220007_02.jpg?v=1672386438" alt="">
      </div>
    {% endif %}
  {% endif %}

  {% if product.id == 7299284697264 %}
    {% if value == 'Low Back Thong' %}
      <div class="opt---low-back-thong block-style-item-cont">
        <img src="//cdn.shopifycdn.net/s/files/1/0607/2398/6608/files/MT220146.jpg?v=1677228763" alt="">
      </div>
    {% endif %}
    {% if value == 'Low Back Mid Tight' %}
      <div class="opt---low-back-mid-tight block-style-item-cont">
        <img src="//cdn.shopifycdn.net/s/files/1/0607/2398/6608/files/MT220145-BK1.jpg?v=1677228763" alt="">
      </div>
    {% endif %}
    {% if value == 'Mid Back & High Cut' %}
      <div class="opt---mid-back-high-cut block-style-item-cont">
        <img src="//cdn.shopifycdn.net/s/files/1/0607/2398/6608/files/MT210349_BK1.jpg?v=1677228763" alt="">
      </div>
    {% endif %}
    {% if value == 'Mid Back Mid Tight' %}
      <div class="opt---mid-back-mid-tight block-style-item-cont">
        <img src="//cdn.shopifycdn.net/s/files/1/0607/2398/6608/files/MT200277-BK1.jpg?v=1677228764" alt="">
      </div>
    {% endif %}
  {% endif %}

  {% if product.id == 7320121737392 %}
    {% if value == 'Slip Maxi Dress' %}
      <div class="opt---slip-maxi-dress block-style-item-cont">
        <img src="//cdn.shopify.com/s/files/1/0607/2398/6608/files/SY220005.jpg?v=1679650250" alt="">
      </div>
    {% endif %}
    {% if value == 'Sleeveless Midi Dress' %}
      <div class="opt---sleeveless-midi-dress block-style-item-cont">
        <img src="//cdn.shopify.com/s/files/1/0607/2398/6608/files/SY220006.jpg?v=1679650665" alt="">
      </div>
    {% endif %}
    {% if value == 'Maxi Dress + Shapewear Set' %}
      <div class="opt---maxi-dress-shapewear-set block-style-item-cont">
        <img
          src="//cdn.shopify.com/s/files/1/0607/2398/6608/files/1_39a3369c-46e5-4849-afd2-e55dcc350902.jpg?v=1679644442"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Sleeveless Dress + Shapewear Set' %}
      <div class="opt---sleeveless-dress-shapewear-set block-style-item-cont">
        <img
          src="//cdn.shopify.com/s/files/1/0607/2398/6608/files/1_30172552-6aac-4ad0-8de8-48e176f43f29.jpg?v=1679644442"
          alt=""
        >
      </div>
    {% endif %}
  {% endif %}

  {% if product.id == 7322284458160 %}
    {% if value == 'Mid Waist' %}
      <div class="opt---mid-waist block-style-item-cont">
        <img src="//cdn.shopify.com/s/files/1/0607/2398/6608/files/MT200283-BK1-20.jpg?v=1680254162" alt="">
      </div>
    {% endif %}
    {% if value == 'High Waist' %}
      <div class="opt---high-waist block-style-item-cont">
        <img src="//cdn.shopify.com/s/files/1/0607/2398/6608/files/MT2002166.jpg?v=1680254162" alt="">
      </div>
    {% endif %}
  {% endif %}

  {% if product.id == 7332888838320 %}
    {% if value == 'Wide Straps Mini Dress' %}
      <div class="opt---wide-straps-mini-dress block-style-item-cont">
        <img src="//cdn.shopifycdn.net/s/files/1/0607/2398/6608/files/6N5A7881.jpg?v=1683787277" alt="">
      </div>
    {% endif %}
    {% if value == 'Crew Neck Midi Dress' %}
      <div class="opt---crew-neck-midi-dress block-style-item-cont">
        <img src="//cdn.shopifycdn.net/s/files/1/0607/2398/6608/files/6N5A6221.jpg?v=1683787277" alt="">
      </div>
    {% endif %}
    {% if value == 'Slip Midi Dress' %}
      <div class="opt---slip-midi-dress block-style-item-cont">
        <img
          src="//cdn.shopifycdn.net/s/files/1/0607/2398/6608/files/74b781680ac61f62b6e997a998b85e59.jpg?v=1683787277"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Crews Neck Maxi Dress' %}
      <div class="opt---crews-neck-maxi-dress block-style-item-cont">
        <img src="//cdn.shopifycdn.net/s/files/1/0607/2398/6608/files/6N5A6826.jpg?v=1683787277" alt="">
      </div>
    {% endif %}
  {% endif %}
  {% if product.id == 7345400512688 %}
    {% if value == 'Wide Strap' %}
      <div class="block-style-item-cont">
        <img
          src="//cdn.shopify.com/s/files/1/0607/2398/6608/files/Wide_Strap_CloudSense_High-Cut_Thong_Bodysuits.jpg?v=1687675882"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Spaghetti Strap' %}
      <div class="block-style-item-cont">
        <img
          src="//cdn.shopify.com/s/files/1/0607/2398/6608/files/Spaghetti_straps_CloudSense_High-Cut_Thong_Bodysuits.jpg?v=1687675862"
          alt=""
        >
      </div>
    {% endif %}
  {% endif %}
  {% if product.id == 7348117405872 %}
    {% if value == 'Bodysuit Only' %}
      <div class="block-style-item-cont">
        <img src="//cdn.shopify.com/s/files/1/0607/2398/6608/files/081.jpg?v=1668744014" alt="">
      </div>
    {% endif %}
    {% if value == 'Bodysuit With Gift Box Set' %}
      <div class="block-style-item-cont">
        <img
          src="//cdn.shopify.com/s/files/1/0607/2398/6608/files/1_c73f53b3-1026-4121-8b50-cdd599b23eee.jpg?v=1688691747"
          alt=""
        >
      </div>
    {% endif %}
  {% endif %}
  {% if product.id == 7348177600688 %}
    {% if value == 'Dress Only' %}
      <div class="block-style-item-cont">
        <img
          src="//cdn.shopify.com/s/files/1/0607/2398/6608/files/1_0106e0b0-3dfa-4589-b257-cc7a063a624b.jpg?v=1688697463"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Dress With Gift Box Set' %}
      <div class="block-style-item-cont">
        <img
          src="//cdn.shopify.com/s/files/1/0607/2398/6608/files/1_35720d7f-15c0-4580-942d-64ca5a29a0cd.jpg?v=1688691747"
          alt=""
        >
      </div>
    {% endif %}
  {% endif %}
  {% if product.id == 7348177797296 %}
    {% if value == 'Dress Only' %}
      <div class="block-style-item-cont">
        <img
          src="//cdn.shopify.com/s/files/1/0607/2398/6608/files/2_e25a3d4c-c2ab-43fd-a634-ad8507df1077.jpg?v=1688697462 "
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Dress With Gift Box Set' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/1_2_a8919227-593a-4b30-b40d-117ffa073d11.jpg?v=1688691747"
          alt=""
        >
      </div>
    {% endif %}
  {% endif %}
  {% if product.id == 7352410833072 %}
    {% if value == 'Mini Dress' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopifycdn.net/s/files/1/0607/2398/6608/files/mini_dress.jpg?v=1689910521" alt="">
      </div>
    {% endif %}
    {% if value == 'Romper' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopifycdn.net/s/files/1/0607/2398/6608/files/romper.jpg?v=1689910521" alt="">
      </div>
    {% endif %}
    {% if value == 'Bodysuit' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopifycdn.net/s/files/1/0607/2398/6608/files/bodysuit_cd5ba9a1-9972-417d-9e78-542574c41047.jpg?v=1689910521"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Leggings' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/leggings_9ddc5e53-ede0-47ba-9bb6-9b3c7228de26.jpg?v=1699321190"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Short Sleeve Bodysuit' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/short_sleeve_bodysuit.jpg?v=1701334332" alt="">
      </div>
    {% endif %}
    {% if value == 'Midi Dress' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/midi_dress_c2b6f44a-46d0-4c83-948a-3f16907f65c5.jpg?v=1701334332"
          alt=""
        >
      </div>
    {% endif %}
  {% endif %}
  {% if product.id == 7354712522928 %}
    {% if value == 'Thong Bodysuit' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/Thong_Bodysuit.jpg?v=1690337925" alt="">
      </div>
    {% endif %}
    {% if value == 'Wide-Leg Jumpsuit' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/Wide-Leg_Jumpsuit.jpg?v=1690337925" alt="">
      </div>
    {% endif %}
    {% if value == 'Split Maxi Dress' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/Split_Maxi_Dress.jpg?v=1690337925" alt="">
      </div>
    {% endif %}
    {% if value == 'Thigh Bodysuit' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/3891890bbbb7127fdb1f15ff5628cad2.jpg?v=1703672917"
          alt=""
        >
      </div>
    {% endif %}
  {% endif %}
  {% if product.id == 7355124023472 %}
    {% if value == 'Jumpsuit' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/jumpsuit.jpg?v=1690687641" alt="">
      </div>
    {% endif %}
    {% if value == 'Romper' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/romper_2df31d33-ea4a-4bd0-b92a-c20d02e39414.jpg?v=1690687641"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Long-Sleeve Jumpsuit' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopifycdn.net/s/files/1/0607/2398/6608/files/jumpsuit_42931438-2bcf-4299-b650-281010bbf908.jpg?v=1694760367"
          alt=""
        >
      </div>
    {% endif %}
  {% endif %}
  {% if product.id == 7355156594864 %}
    {% if value == 'Mini Dress' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/76c0485c9a5a2df022c25e00816f687f.jpg?v=1703572320"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Mid Thigh Romper' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/5a7341f96da567bc2be6881eb156267c.jpg?v=1703572385"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Thong Bodysuit' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/f4a15f2acb990a9f735f2817cf73c68c.jpg?v=1703572436"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Jumpsuit' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopifycdn.net/s/files/1/0607/2398/6608/files/jumpsuit_3aa59d26-c04f-4f89-9f4c-ca6744fe0c5e.jpg?v=1703066401"
          alt=""
        >
      </div>
    {% endif %}
  {% endif %}
  {% if product.id == 7364314595504 %}
    {% if value == 'Romper' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/Romper_7b3d0ae3-cac7-4f22-9f9b-dad5e5432aad.jpg?v=1692855535"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Jumpsuit' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/jumpsuit_6e9f72f3-9521-4a49-a163-137d180f77d5.jpg?v=1692855535"
          alt=""
        >
      </div>
    {% endif %}
  {% endif %}
  {% if product.id == 7373245710512 %}
    {% if value == 'Bodysuit' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopifycdn.net/s/files/1/0607/2398/6608/files/Thong_Bodysuit_e1423a8c-eed7-40b4-81b6-3cf18253c4e2.jpg?v=1694760368"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Midi Skirt' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopifycdn.net/s/files/1/0607/2398/6608/files/skirt.jpg?v=1694760368" alt="">
      </div>
    {% endif %}
    {% if value == 'Mini Skirt' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopifycdn.net/s/files/1/0607/2398/6608/files/mini_skirt.jpg?v=1694760368" alt="">
      </div>
    {% endif %}
    {% if value == 'Leggings' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopifycdn.net/s/files/1/0607/2398/6608/files/leggings.jpg?v=1694761565" alt="">
      </div>
    {% endif %}
    {% if value == 'Front Seams Leggings' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/6N5A8922.jpg?v=1696830102" alt="">
      </div>
    {% endif %}
    {% if value == 'Long Sleeve Bodysuit' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopifycdn.net/s/files/1/0607/2398/6608/files/lQDPJw1oR-n9iffMlsyWsGielK8xTBW4BUiYFaCAnwA_150_150.jpg?v=1700219181"
          alt=""
        >
      </div>
    {% endif %}
  {% endif %}
  {% if product.id == 7373230276784 %}
    {% if value == 'Spaghetti Strap Thong Bodysuit' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/EI3A7117_49cc6b46-dd55-4cdf-8d16-d740f90f64c4.jpg?v=1700106118"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Wide Strap Thong Bodysuit' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/EI3A7994-ok.jpg?v=1700106209" alt="">
      </div>
    {% endif %}
    {% if value == 'Scoop-Neck' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/VAZ1967.jpg?v=1700106260" alt="">
      </div>
    {% endif %}
    {% if value == 'V-Neck' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/VAZ2299.jpg?v=1700106293" alt="">
      </div>
    {% endif %}
    {% if value == 'Square-Neck' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/VAZ2147.jpg?v=1700106362" alt="">
      </div>
    {% endif %}
  {% endif %}
  {% if product.id == 7375796338864 %}
    {% if value == 'Long-Sleeve Cardigan' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/d0d44810b0b23d9e3bf623be0ac4fd45.jpg?v=1695288261"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Sleeveless Maxi Dress' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/7218a463696eaa35474fb0902d0ff038.jpg?v=1695288262"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Cardigan + Dress' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/d3d8019200fc3e45272d827cdb4a4bac.jpg?v=1695288261"
          alt=""
        >
      </div>
    {% endif %}
  {% endif %}
  {% if product.id == 7340237619376 %}
    {% if value == 'Romper' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/romper_7fc92bc0-8e04-409b-9cbf-a163929ab2ac.jpg?v=1695350401"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Jumpsuit' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/jumpsuit_30696654-701a-4023-bf27-0f43d87817b8.jpg?v=1695350401"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Long-Sleeve Jumpsuit' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/6N5A1476-ok.jpg?v=1695350402" alt="">
      </div>
    {% endif %}
  {% endif %}
  {% if product.id == 7372807831728 %}
    {% if value == 'Mid Back Mid Tight' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopifycdn.net/s/files/1/0607/2398/6608/files/MT200277-BK1-40_5be49957-704a-46f7-b1ca-4e07cf10cb2b.jpg?v=1695634396"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Low Back Thong' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopifycdn.net/s/files/1/0607/2398/6608/files/MT220146-BK1-19_c2e492db-fe98-4303-81bf-2cebc384c0d6.jpg?v=1695634396"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Low Back Mid Tight' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopifycdn.net/s/files/1/0607/2398/6608/files/MT220145-BK1-19_ab67bf9e-8819-40c9-a515-f79aa1d5907c.jpg?v=1695634396"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Mid Back & High Cut' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopifycdn.net/s/files/1/0607/2398/6608/files/MT210349-BK1-31_0a17c401-bd77-4ef2-a7a2-fb4db22c4c23.jpg?v=1695634396"
          alt=""
        >
      </div>
    {% endif %}
  {% endif %}
  {% if product.id == 7357847568560 %}
    {% if value == 'Full Lace' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT220120_92f424d2-8342-41e3-b4e9-71189a2dd0f3.jpg?v=1695634674"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Lace Deep-V(Run Small)' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT220081_1b2b4a2a-cd0c-4fb2-b876-46ce416e7715.jpg?v=1695634673"
          alt=""
        >
      </div>
    {% endif %}
  {% endif %}
  {% if product.id == 7377806360752 %}
    {% if value == 'Slip Maxi Dress' %}
      <div class="opt---slip-maxi-dress block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/slip.jpg?v=1695783288" alt="">
        <span class="styleName"></span>
      </div>
    {% endif %}
    {% if value == 'Twisted Maxi Dress' %}
      <div class="opt---twisted-maxi-dress block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/twisted.jpg?v=1695783288" alt="">
        <span class="styleName"></span>
      </div>
    {% endif %}
    {% if value == 'Thong Bodysuit' %}
      <div class="opt---thong-bodysuit block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/bodysuit_f5d40e5a-c23f-42d7-9f26-1e9026d691dd.jpg?v=1695783287"
          alt=""
        >
        <span class="styleName"></span>
      </div>
    {% endif %}
    {% if value == 'Long Sleeve Maxi Dress' %}
      <div class="opt---long-sleeve-maxi-dress block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT230280.jpg?v=1698659486" alt="">
        <span class="styleName"></span>
      </div>
    {% endif %}
  {% endif %}

  {% if product.id == 7406635057328 %}
    {% if value == 'Slip Maxi Dress' %}
      <div class="opt---slip-maxi-dress block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/slip.jpg?v=1695783288" alt="">
        <span class="styleName"></span>
      </div>
    {% endif %}
    {% if value == 'Twisted Maxi Dress' %}
      <div class="opt---twisted-maxi-dress block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/twisted.jpg?v=1695783288" alt="">
        <span class="styleName"></span>
      </div>
    {% endif %}
    {% if value == 'Thong Bodysuit' %}
      <div class="opt---thong-bodysuit block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/bodysuit_f5d40e5a-c23f-42d7-9f26-1e9026d691dd.jpg?v=1695783287"
          alt=""
        >
        <span class="styleName"></span>
      </div>
    {% endif %}
    {% if value == 'Long Sleeve Maxi Dress' %}
      <div class="opt---long-sleeve-maxi-dress block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT230280.jpg?v=1698659486" alt="">
        <span class="styleName"></span>
      </div>
    {% endif %}
    {% if value == 'Ruched Midi Dress' %}
      <div class="opt---ruched-midi-dress block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT230280.jpg?v=1698659486" alt="">
        <span class="styleName"></span>
      </div>
    {% endif %}
  {% endif %}

  {% if product.id == 7384367497392 %}
    {% if value == 'Long Sleeve Jumpsuit' %}
      <div class="opt---long-sleeve-jumpsuit block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/6N5A2708-ok.jpg?v=1696917741" alt="">
        <span class="styleName"></span>
      </div>
    {% endif %}
    {% if value == 'U-Neck Jumpsuit' %}
      <div class="opt---u-neck-jumpsuit block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/6N5A7407.jpg?v=1696830102" alt="">
        <span class="styleName"></span>
      </div>
    {% endif %}
    {% if value == 'Square-Neck Jumpsuit' %}
      <div class="opt---square-neck-jumpsuit block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/6N5A9077.jpg?v=1696830102" alt="">
        <span class="styleName"></span>
      </div>
    {% endif %}
    {% if value == 'Sqaure-Neck Romper' %}
      <div class="opt---sqaure-neck-romper block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/6N5A9144.jpg?v=1696830102" alt="">
        <span class="styleName"></span>
      </div>
    {% endif %}
    {% if value == 'Zip Front Jumpsuit' %}
      <div class="opt---zip-front-jumpsuit block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/6N5A7075.jpg?v=1698377324" alt="">
        <span class="styleName"></span>
      </div>
    {% endif %}
  {% endif %}

  {% if product.id == 7377552212144 %}
    {% if value == 'Maxi Dress' %}
      <div class="opt---maxi-dress block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/6N5A6783.jpg?v=1696917741" alt="">
        <span class="styleName"></span>
      </div>
    {% endif %}
    {% if value == 'Thong Bodysuit' %}
      <div class="opt---thong-bodysuit block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/6N5A6769.jpg?v=1696917741" alt="">
        <span class="styleName"></span>
      </div>
    {% endif %}
  {% endif %}

  {% if product.id == 7389391880368 %}
    {% if value == 'Midi Dress' %}
      <div class="opt---midi-dress block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/midi_dress.jpg?v=1697594201" alt="">
        <span class="styleName"></span>
      </div>
    {% endif %}
    {% if value == 'Maxi Dress' %}
      <div class="opt---maxi-dress block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/maxi_dress.jpg?v=1697594201" alt="">
        <span class="styleName"></span>
      </div>
    {% endif %}
    {% if value == 'Long Sleeve Maxi Dress' %}
      <div class="opt---long-sleeve-maxi-dress block-style-item-cont">
        <img src="https://admin.shopify.com/store/popilush/products/7398718537904" alt="">
        <span class="styleName"></span>
      </div>
    {% endif %}
  {% endif %}

  {% if product.id == 7401133801648 %}
    {% if value == 'Zip Front Jumpsuit' %}
      <div class="opt---zip-front-jumpsuit block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/6N5A7075.jpg?v=1698377324" alt="">
        <span class="styleName"></span>
      </div>
    {% endif %}
    {% if value == 'Flare Slip Jumpsuit' %}
      <div class="opt---flare-slip-jumpsuit block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT230340.jpg?v=1698375400" alt="">
        <span class="styleName"></span>
      </div>
    {% endif %}
    {% if value == 'Wide-Leg Jumpsuit' %}
      <div class="opt---wide-leg-jumpsuit block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT230310.jpg?v=1698375521" alt="">
        <span class="styleName"></span>
      </div>
    {% endif %}
  {% endif %}

  {% if product.id == 7401150251184 %}
    {% if value == 'V-neck Maxi Dress' %}
      <div class="opt---v-neck-maxi-dress block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/SY230003.jpg?v=1698376863" alt="">
        <span class="styleName"></span>
      </div>
    {% endif %}
    {% if value == 'Twist Maxi Dress' %}
      <div class="opt---twist-maxi-dress block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT230279.jpg?v=1698376863" alt="">
        <span class="styleName"></span>
      </div>
    {% endif %}
    {% if value == 'Ruched Midi Dress' %}
      <div class="opt---ruched-midi-dress block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT230316.jpg?v=1698376863" alt="">
        <span class="styleName"></span>
      </div>
    {% endif %}
  {% endif %}

  {% if product.id == 7415464296624 %}
    {% if value == 'Long Sleeve Midi Dress' %}
      <div class="opt---long-sleeve-midi-dress block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/338.jpg?v=1699585825" alt="">
        <span class="styleName"></span>
      </div>
    {% endif %}
    {% if value == 'Maxi Dress' %}
      <div class="opt---maxi-dress block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/334.jpg?v=1699585832" alt="">
        <span class="styleName"></span>
      </div>
    {% endif %}
    {% if value == 'Midi Dress' %}
      <div class="opt---midi-dress block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/211.jpg?v=1699585832" alt="">
        <span class="styleName"></span>
      </div>
    {% endif %}
    {% if value == 'Mini Dress' %}
      <div class="opt---mini-dress block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/006.jpg?v=1699585831" alt="">
        <span class="styleName"></span>
      </div>
    {% endif %}
  {% endif %}
  {% if product.id == 7430669402288 %}
    {% if value == 'Bodysuit' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/short_sleeve_bodysuit.jpg?v=1701334332" alt="">
      </div>
    {% endif %}
    {% if value == 'Midi Dress' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/midi_dress_c2b6f44a-46d0-4c83-948a-3f16907f65c5.jpg?v=1701334332"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Mini Dress' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/mini_dress_e2748b4d-a41f-4fda-8062-7c41bb89e03d.jpg?v=1705301959"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Tank Top Bodysuit' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/bodysuit_382c9c7c-8fff-4710-af99-8182be6f6d1f.jpg?v=1705301715"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Jumpsuit' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT230433.jpg?v=1705307215" alt="">
      </div>
    {% endif %}
    {% if value == 'Short Sleeve Jumpsuit' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/3afadd4bc603d8aa6ccab44aa8a47a05.jpg?v=1705904970"
          alt=""
        >
      </div>
    {% endif %}
  {% endif %}
  {% if product.id == 7462795903152 %}
    {% if value == 'Corset Style Thong Bodysuit' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/6N5A6769_7d4ad843-1973-4544-b788-ce749f64003c.jpg?v=1706497235"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Long Sleeve Thong Bodysuit' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/6N5A2515.jpg?v=1706519898" alt="">
      </div>
    {% endif %}
    {% if value == 'Split Midi Skirt' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/6N5A5858.jpg?v=1706519989" alt="">
      </div>
    {% endif %}
    {% if value == 'Lace Thong Bodysuit' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/6N5A6714.jpg?v=1706520050" alt="">
      </div>
    {% endif %}
  {% endif %}
  {% if product.id == 7466494296240 %}
    {% if value == 'Deep V-Neck One-Piece' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/yd230111.jpg?v=1706845535" alt="">
      </div>
    {% endif %}
    {% if value == 'V-Neck One-Piece' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/yd230047.jpg?v=1706845895" alt="">
      </div>
    {% endif %}
    {% if value == 'Ruched V-Neck One-Piece' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/YD230101.jpg?v=1706846045" alt="">
      </div>
    {% endif %}
    {% if value == 'Ruched Bikini Set' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/YD230098.jpg?v=1706846020" alt="">
      </div>
    {% endif %}
  {% endif %}
  {% if product.id == 7469839941808 %}
    {% if value == 'Long Sleeve' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT230135_a5832938-2c75-46b7-8ff6-fbab9b8a5b29.jpg?v=1707274067"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Slip' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT230475.jpg?v=1707274217" alt="">
      </div>
    {% endif %}
    {% if value == 'Cut-Out' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/6N5A1600_2.jpg?v=1714265051" alt="">
      </div>
    {% endif %}
  {% endif %}
  {% if product.id == 7478645424304 %}
    {% if value == 'Dress' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/6N5A7294-150X150.jpg?v=1709005708" alt="">
      </div>
    {% endif %}
    {% if value == 'Long Sleeve Shrug' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/6N5A8232-150x150.jpg?v=1709005734" alt="">
      </div>
    {% endif %}
    {% if value == 'Dress+Long Sleeve Shrug' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/iwEcAqNqcGcDAQTRAJYF0QCWBrB1YL-druDgqAYVT6kHWOgAB9Ia4ik4CAAJomltCgAL0Rkg.jpg_720x720q90.jpg?v=1713941022"
          alt=""
        >
      </div>
    {% endif %}
  {% endif %}
  {% if product.id == 7478645686448 %}
    {% if value == 'Dress' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/6N5A7294-150X150.jpg?v=1709005708" alt="">
      </div>
    {% endif %}
    {% if value == 'Shawl' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/6N5A7417-150x150.jpg?v=1709005750" alt="">
      </div>
    {% endif %}
    {% if value == 'Dress+Shawl' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/iwEeAqNqcGcDAQTRAJYF0QCWBrBjU__JwGi66AYVT6kLG94AB9Ia4ik4CAAJomltCgAL0RYH.jpg_720x720q90.jpg?v=1713941022"
          alt=""
        >
      </div>
    {% endif %}
  {% endif %}
  {% if product.id == 7483193721008 %}
    {% if value == 'Sleeveless' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT230488.jpg?v=1709533571" alt="">
      </div>
    {% endif %}
    {% if value == 'Long Sleeve' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT220144.jpg?v=1709533514" alt="">
      </div>
    {% endif %}
  {% endif %}
  {% if product.id == 7496156938416 %}
    {% if value == 'Jumpsuit' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/YD230136.jpg?v=1710379252" alt="">
      </div>
    {% endif %}
    {% if value == 'Romper' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/YD230128.jpg?v=1710379232" alt="">
      </div>
    {% endif %}
  {% endif %}
  {% if product.id == 7497349857456 %}
    {% if value == 'Square Neck' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/150x150_688b5c8e-12e1-4528-aabe-c20bd3399f2f.jpg?v=1710490523"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Slip' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/150x150_9aa97c3f-1397-4f38-97ae-e36c12c86da8.jpg?v=1710490558"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Halter' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/150x150.jpg?v=1710490488" alt="">
      </div>
    {% endif %}
    {% if value == 'Wide Strap' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/7218a463696eaa35474fb0902d0ff038_5c9446d9-d966-43c4-811c-21484926b794.jpg?v=1715916689%C2%A0" alt="">
      </div>
    {% endif %}
  {% endif %}
  {% if product.id == 7503171223728 %}
    {% if value == 'Bandeau' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/YD230135.jpg?v=1710901998" alt="">
      </div>
    {% endif %}
    {% if value == 'Slip' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/YD230129.jpg?v=1710902024" alt="">
      </div>
    {% endif %}
    {% if value == 'Cut-Out' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/YD230137.jpg?v=1710902043" alt="">
      </div>
    {% endif %}
    {% if value == 'short sleeves' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/YD230132.jpg?v=1710902062" alt="">
      </div>
    {% endif %}
    {% if value == 'Halter' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/YD230128_cbff4b4c-5fa4-4307-80f7-d4d2e18b30a2.jpg?v=1710902079"
          alt=""
        >
      </div>
    {% endif %}
  {% endif %}
  {% if product.id == 7464010449072 %}
    {% if value == 'Bra' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/6N5A6739.jpg?v=1711523941" alt="">
      </div>
    {% endif %}
    {% if value == 'Underwear' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/6N5A6739-_-1.jpg?v=1711523965" alt="">
      </div>
    {% endif %}
    {% if value == 'Bundle' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/YD230098_4b6ccc75-ae2d-47c9-b06d-f5adfdd2d9d3.jpg?v=1711524008"
          alt=""
        >
      </div>
    {% endif %}
  {% endif %}
  {% if product.id == 7541856403632 %}
    {% if value == 'Short Sleeve' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/413.jpg?v=1712633136" alt="">
      </div>
    {% endif %}
    {% if value == 'Off Shoulder' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/416.jpg?v=1712633136" alt="">
      </div>
    {% endif %}
    {% if value == 'Slit' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/417.jpg?v=1712633136" alt="">
      </div>
    {% endif %}
    {% if value == 'Halter' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/415.jpg?v=1712633136" alt="">
      </div>
    {% endif %}
    {% if value == 'Jumpsuit' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT230464.jpg?v=1712633136" alt="">
      </div>
    {% endif %}
  {% endif %}
  {% if product.id == 7541856207024 %}
    {% if value == 'Sleeveless' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT230464.jpg?v=1712633136" alt="">
      </div>
    {% endif %}
    {% if value == 'Long Sleeve' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT230310_80742470-fc2b-4258-8277-57611d3f4163.jpg?v=1712633136"
          alt=""
        >
      </div>
    {% endif %}
  {% endif %}

  {% if product.id == 7564386271408 %}
    {% if value == 'Cut-Out' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/6N5A1600_2.jpg?v=1714265051" alt="">
      </div>
    {% endif %}
    {% if value == 'Slip' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT230475.jpg?v=1707274217"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Corset' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT230328_58b78475-b927-41b7-8276-8842dfa4c57d.jpg?v=1715587132"
          alt=""
        >
      </div>
    {% endif %}
  {% endif %}

  {% if product.id == 7506887934128 %}
    {% if value == 'Wide-Strap' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/iwEcAqNqcGcDAQTRAJYF0QCWBrARZ9_qecjzCAYcxj3c-XkAB9Ikj5OKCAAJomltCgAL0VFn.jpg_720x720q90.jpg?v=1714442334"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Slip' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/iwEcAqNqcGcDAQTRAJYF0QCWBrAWrSTiJguy8QYcxj3c-XkBB9Ikj5OKCAAJomltCgAL0WHU.jpg_720x720q90.jpg?v=1714442373"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Shorts' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/YD230105_94621af8-9fa2-4469-be6c-c33035344236.jpg?v=1715930017"
          alt=""
        >
      </div>
    {% endif %}
  {% endif %}

  {% if product.id == 7452886958256 %}
    {% if value == 'Lace' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT230359_865ad05f-7715-44c2-9370-d67f45fdbf36.jpg?v=1715152809"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Mesh' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT230404.jpg?v=1715152809"
          alt=""
        >
      </div>
    {% endif %}
  {% endif %}

  {% if product.id == 7332264116400 %}
    {% if value == 'Mock Neck' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT230333.jpg?v=1715153229" alt="">
      </div>
    {% endif %}
    {% if value == 'Crew Neck' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/SY230004_a82a8c8c-a973-45f6-8eb6-8e654e44e32a.jpg?v=1715587132"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Off Shoulder' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/SY230006.jpg?v=1715587132"
          alt=""
        >
      </div>
    {% endif %}
  {% endif %}

  {% if product.id == 7483289469104 %}
    {% if value == 'Halter' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT230415.jpg?v=1715243244" alt="">
      </div>
    {% endif %}
    {% if value == 'Off Shoulder' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT230211.jpg?v=1715243244"
          alt=""
        >
      </div>
    {% endif %}
  {% endif %}

  {% if product.id == 7094727180464 %}
    {% if value == 'Corset' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT230328.jpg?v=1715243236" alt="">
      </div>
    {% endif %}
    {% if value == 'Lace' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT220120_093ee513-be04-4dd9-8244-3356035b3594.jpg?v=1715243236"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Fish Skeleton' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT230422.jpg?v=1715594680"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Deep V' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT230392.jpg?v=1715594681"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Full Lace' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT220120_093ee513-be04-4dd9-8244-3356035b3594.jpg?v=1715243236"
          alt=""
        >
      </div>
    {% endif %}
  {% endif %}

  {% if product.id == 7474072912048 %}
    {% if value == 'Halter' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/YD230136_633bd89f-971b-4588-8e64-baa8c19dd2ec.jpg?v=1715587132"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'U-Neck' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT230339.jpg?v=1715587132"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Slip' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT230340_f2a49fbe-66b9-4767-b950-261ebe84e278.jpg?v=1715916413"
          alt=""
        >
      </div>
    {% endif %}
  {% endif %}

  {% if product.id == 7456690143408 %}
    {% if value == 'Side Slit' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT230405.jpg?v=1715594680"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Low Back' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/413_5a8d49cd-18e2-4a4f-b8c2-f4bed4de433e.jpg?v=1715594962"
          alt=""
        >
      </div>
    {% endif %}
  {% endif %}
  {% if product.id == 7456689258672 %}
    {% if value == 'Wide Strap' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT230406.jpg?v=1715594680"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Slip' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT230351.jpg?v=1715594680"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Side Straps' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT230412.jpg?v=1715594680"
          alt=""
        >
      </div>
    {% endif %}
  {% endif %}
  {% if product.id == 7484024619184 %}
    {% if value == 'Jumpsuit' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT230464_1d28fde2-7c3d-4770-977e-3d15c7afa8c8.jpg?v=1715929147"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Dress' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT230377.jpg?v=1715929139"
          alt=""
        >
      </div>
    {% endif %}
  {% endif %}
  {% if product.id == 7645010428080 %}
    {% if value == 'Jumpsuit' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/jumpsuit_8fecd019-5352-4d99-abf6-fd6b2548d928.jpg?v=1717229455"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Romper' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/romper_c554c7be-68a4-460a-9921-c98d1a1be6dd.jpg?v=1717229455"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Long-Sleeve Jumpsuit' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/6N5A1476-ok_76fc7dd2-23d0-4a72-aeb2-d3f06e85b586.jpg?v=1717229456"
          alt=""
        >
      </div>
    {% endif %}
  {% endif %}
  {% if product.id == 7645108175024 %}
    {% if value == 'Jumpsuit' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/jumpsuit_8fecd019-5352-4d99-abf6-fd6b2548d928.jpg?v=1717229455"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Romper' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/romper_c554c7be-68a4-460a-9921-c98d1a1be6dd.jpg?v=1717229455"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Long-Sleeve Jumpsuit' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/6N5A1476-ok_76fc7dd2-23d0-4a72-aeb2-d3f06e85b586.jpg?v=1717229456"
          alt=""
        >
      </div>
    {% endif %}
  {% endif %}
  {% if product.id == 7645135110320 %}
    {% if value == 'Mini Dress' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/mini_dress_976eb534-8101-41a9-a7eb-27fba9e44fd9.jpg?v=1717235774"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Bodysuit' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/bodysuit_8db83193-40e0-4f1a-90b6-57787a9d10a0.jpg?v=1717235774"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Romper' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/romper_9d8e9b57-9afd-4c68-ae1a-fa756e7817c7.jpg?v=1717235774"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Leggings' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/leggings_d0d63e5f-cd4a-4793-8e2c-c123963d397d.jpg?v=1717235774"
          alt=""
        >
      </div>
    {% endif %}
  {% endif %}
  {% if product.id == 7645133373616 %}
    {% if value == 'Short Sleeve' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/413.jpg?v=1712633136"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Off Shoulder' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/416.jpg?v=1712633136"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Slit' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/417.jpg?v=1712633136"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Halter' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/415.jpg?v=1712633136"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Jumpsuit' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT230464.jpg?v=1712633136"
          alt=""
        >
      </div>
    {% endif %}
  {% endif %}
  {% if product.id == 7645134979248 %}
    {% if value == 'Mini Dress' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/Mini_Dress_6c081197-d4b8-4dd0-959e-4b72b1c4e726.jpg?v=1690687997"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Mid Thigh Romper' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/Mid_Thigh_Romper.jpg?v=1690687998"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Jumpsuit' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopifycdn.net/s/files/1/0607/2398/6608/files/jumpsuit_3aa59d26-c04f-4f89-9f4c-ca6744fe0c5e.jpg?v=1703066401"
          alt=""
        >
      </div>
    {% endif %}
  {% endif %}
  {% if product.id == 7645134848176 %}
    {% if value == 'Jumpsuit' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopifycdn.net/s/files/1/0607/2398/6608/files/jumpsuit_3aa59d26-c04f-4f89-9f4c-ca6744fe0c5e.jpg?v=1703066401"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Romper' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/Romper_970c828c-0fd4-4d04-8a65-55e5056cde6c.jpg?v=1717238748"
          alt=""
        >
      </div>
    {% endif %}
  {% endif %}
  {% if product.id == 7645134684336 %}
    {% if value == 'Bodysuit' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/6N5A1428_9458ad41-adf4-45e8-8051-4833dbe3cfda.jpg?v=1717238453"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Midi Skirt' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/6N5A9896.jpg?v=1717238453"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Mini Skirt' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/6N5A5311.jpg?v=1717238453"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Front Seams Leggings' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT230347_450769b5-0f90-4d19-a744-c18f5ca93e9b.jpg?v=1717238453"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Long Sleeve Bodysuit' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopifycdn.net/s/files/1/0607/2398/6608/files/lQDPJw1oR-n9iffMlsyWsGielK8xTBW4BUiYFaCAnwA_150_150.jpg?v=1700219181"
          alt=""
        >
      </div>
    {% endif %}
  {% endif %}
  {% if product.id == 7645134454960 %}
    {% if value == 'Long-Sleeve Cardigan' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/d0d44810b0b23d9e3bf623be0ac4fd45.jpg?v=1695288261"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Sleeveless Maxi Dress' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/7218a463696eaa35474fb0902d0ff038.jpg?v=1695288262"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Cardigan + Dress' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/d3d8019200fc3e45272d827cdb4a4bac.jpg?v=1695288261"
          alt=""
        >
      </div>
    {% endif %}
  {% endif %}
  {% if product.id == 7645134291120 %}
    {% if value == 'Maxi Dress' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/6N5A6783_3d501961-0df5-4e91-97d6-95037ffa9d9d.jpg?v=1717239294"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Thong Bodysuit' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/6N5A6769_919a1d3b-2e7c-4391-9a89-37e919fea39c.jpg?v=1717239294"
          alt=""
        >
      </div>
    {% endif %}
  {% endif %}
  {% if product.id == 7645134028976 %}
    {% if value == 'Midi Dress' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/midi_dress_75dc96f5-c0cb-4355-a8d3-6dede7a2907b.jpg?v=1717239618"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Bodysuit' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/short_sleeve_bodysuit_caa7adc0-15bf-43b1-8088-61c06c0f8e67.jpg?v=1717239619"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Jumpsuit' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT230433_1dca9410-4757-4b15-a66e-27de994b8336.jpg?v=1717239619"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Short Sleeve Jumpsuit' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/3afadd4bc603d8aa6ccab44aa8a47a05.jpg?v=1705904970"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Mini Dress' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/mini_dress_229a3650-cac4-4fac-a252-f4868d7c3651.jpg?v=1717239619"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Tank Top Bodysuit' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/bodysuit_65a701e5-fbe1-4dc2-8fa7-6b2d894d0b89.jpg?v=1717239618"
          alt=""
        >
      </div>
    {% endif %}
  {% endif %}
  {% if product.id == 7645133865136 %}
    {% if value == 'Jumpsuit' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/YD230136_e8548025-84a2-4e9d-b6a8-5cbc0e5d7c97.jpg?v=1717240298"
          alt=""
        >
      </div>
    {% endif %}
    {% if value == 'Romper' %}
      <div class="block-style-item-cont">
        <img
          src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/YD230128_d02c6961-d92a-496c-98b1-46de53d49f32.jpg?v=1717240298"
          alt=""
        >
      </div>
    {% endif %}
  {% endif %}
  {% if product.id == 7664414589104  %}
    {% if value == 'Bodysuit' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/150_727cc8ed-d50b-4142-8549-d59ce9024ada.jpg?v=1721186220" alt="" >
      </div>
    {% elsif value == 'Skirt' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/150x150_cceb43d0-ce6b-4bf8-b7ab-a332507444fa.jpg?v=1720753021" alt="" >
      </div>
    {% endif %}
  {% endif %}
  {% if product.id == 7684721115312  %}
    {% if value == 'Set' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT240010_MT240062.jpg?v=1724384546" alt="" >
      </div>
    {% elsif value == 'Top' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT240010.jpg?v=1724392106" alt="" >
      </div>
    {% elsif value == 'Skirt' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/150x150_44d3201e-c0e4-471c-b75e-d51b383bcefd.jpg?v=1721786834" alt="" >
      </div>
    {% endif %}
  {% endif %}
  {% if product.id == 7706549682352  %}
    {% if value == 'Set' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/QT240005_MT230183.jpg?v=1724292848" alt="" >
      </div>
    {% elsif value == 'Dress' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/Split_Maxi_Dress_5b77224b-22e5-43d3-aceb-188598df45e7.jpg?v=1724208911" alt="" >
      </div>
    {% elsif value == 'Cover-Up' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/QT240005.jpg?v=1724292848" alt="" >
      </div>
    {% endif %}
  {% endif %}
  {% if product.id == 7707099136176  %}
    {% if value == 'Set' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT220081_MT220139_170b7e27-a101-4a9b-a9aa-dc28efb31b5e.jpg?v=1724316314" alt="" >
      </div>
    {% elsif value == 'Bodysuit' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT220081_98bc81e5-5ac0-4307-aca0-38e35824618c.jpg?v=1724316314" alt="" >
      </div>
    {% elsif value == 'Skirt' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT220139_8ff35ca8-55cd-4807-b293-af684c2d4ce0.jpg?v=1724316314" alt="" >
      </div>
    {% endif %}
  {% endif %}
  {% if product.id == 7707377795248  %}
    {% if value == 'Set' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/QT240001_MT240010_MT240062.jpg?v=1724392461" alt="" >
      </div>
    {% elsif value == 'Cover-Up' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/6N5A8557_11zon.jpg?v=1724394031" alt="" >
      </div>
    {% elsif value == 'Top' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT240010.jpg?v=1724392106" alt="" >
      </div>
    {% elsif value == 'Skirt' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/150x150_1708b12d-80c2-49c8-b08c-cca0284e5cfc.jpg?v=1724384545" alt="" >
      </div>
    {% endif %}
  {% endif %}
  {% if product.id == 7709088809136  %}
    {% if value == 'Set' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/QT240005_SY220002.jpg?v=1724897529" alt="" >
      </div>
    {% elsif value == 'Dress' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/SY220002_24695515-9a29-44d4-ba34-056959f5f15a.jpg?v=1724810432" alt="" >
      </div>
    {% elsif value == 'Cover-Up' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/QT240005.jpg?v=1724292848" alt="" >
      </div>
    {% endif %}
  {% endif %}
  {% if product.id == 7709344071856  %}
    {% if value == 'Set' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/QT240001_SY220002.jpg?v=1724897868" alt="" >
      </div>
    {% elsif value == 'Top' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/6N5A8557_11zon.jpg?v=1724394031" alt="" >
      </div>
    {% elsif value == 'Dress' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/SY220002_24695515-9a29-44d4-ba34-056959f5f15a.jpg?v=1724810432" alt="" >
      </div>
    {% endif %}
  {% endif %}
  {% if product.id == 7709315596464  %}
    {% if value == 'Set' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT230421_MT220120-4.jpg?v=1724897528" alt="" >
      </div>
    {% elsif value == 'Bodysuit' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT220120_8bd5d266-71e7-4589-a844-298c2754a407.jpg?v=1724815712" alt="" >
      </div>
    {% elsif value == 'Skirt' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT230421.jpg?v=1724815715" alt="" >
      </div>
    {% endif %}
  {% endif %}
  {% if product.id == 7709365305520  %}
    {% if value == 'Set' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT220139_MT230337-2.jpg?v=1724897868" alt="" >
      </div>
    {% elsif value == 'Bodysuit' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT230337_024f6c53-30ff-42be-a753-20a0ea2589a6.jpg?v=1724897868" alt="" >
      </div>
    {% elsif value == 'Skirt' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT220139_8ff35ca8-55cd-4807-b293-af684c2d4ce0.jpg?v=1724316314" alt="" >
      </div>
    {% endif %}
  {% endif %}
  {% if product.id == 7716589961392  %}
    {% if value == 'Set' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT220139_MT2220106_-2.jpg?v=1726103907" alt="" >
      </div>
    {% elsif value == 'Bodysuit' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT2220106.jpg?v=1726107080" alt="" >
      </div>
    {% elsif value == 'Skirt' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT220139_8ff35ca8-55cd-4807-b293-af684c2d4ce0.jpg?v=1724316314" alt="" >
      </div>
    {% endif %}
  {% endif %}
  {% if product.id == 7722052452528  %}
    {% if value == 'Set' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT220139_MT240056-2.jpg?v=1726103906" alt="" >
      </div>
    {% elsif value == 'Bodysuit' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/150x150_41203158-7cef-4c22-9166-62bb59c4a1b3.jpg?v=1726022914" alt="" >
      </div>
    {% elsif value == 'Skirt' %}
      <div class="block-style-item-cont">
      <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT220139_8ff35ca8-55cd-4807-b293-af684c2d4ce0.jpg?v=1724316314" alt="" >
      </div>
    {% endif %}
  {% endif %}



    {% if product.id == 7716655005872  %}
    {% if value == 'Set' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/MT240091_QT240004.jpg?v=1727247945" alt="" >
      </div>
    {% elsif value == 'Jacket' %}
      <div class="block-style-item-cont">
        <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/6N5A1363.jpg?v=1727248134" alt="" >
      </div>
    {% elsif value == 'Dress' %}
      <div class="block-style-item-cont">
      <img src="https://cdn.shopify.com/s/files/1/0607/2398/6608/files/6N5A1324.jpg?v=1727248067" alt="" >
      </div>
    {% endif %}
  {% endif %}
  
</label>